<nav class="navbar navbar-expand-sm sticky-top fixed-top">
  <!--<div class="container-fluid">-->
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><i class="glyphicon glyphicon-cog"></i> Income Tax Assistant</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="{{manage == 'declaration' ? 'active' : ''}}"><a (click)="select('declaration')" href="#"><span class="glyphicon glyphicon-user"></span> Declaration</a></li>
      <!--<li class="{{manage == 'Insurance' ? 'active' : ''}}"><a (click)="select('Insurance')" href="#Insurance"><span class="glyphicon glyphicon-user"></span> Insurance</a></li>-->
      <!--<li class="{{manage == 'Sodexo' ? 'active' : ''}}"><a (click)="select('Sodexo')" href="#Sodexo"><span class="glyphicon glyphicon-wrench"></span> Sodexo</a></li>-->
      <!--<li class="{{manage == 'Savings' ? 'active' : ''}}"><a (click)="select('Savings')" href="#Savings"><span class="glyphicon glyphicon-wrench"></span> Savings</a></li>-->
      <!--<li class="{{manage == 'HRA' ? 'active' : ''}}"><a (click)="select('HRA')" href="#HRA"><span class="glyphicon glyphicon-wrench"></span> HRA / Home Loan</a></li>-->
    </ul>
    <!--<ul class="nav navbar-nav navbar-right">-->
      <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
      <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
    <!--</ul>-->
  <!--</div>-->
</nav>

<div class="container">
  <app-declaration *ngIf="manage == 'declaration'">Loading declaration..</app-declaration>
  <app-insurance *ngIf="manage == 'Insurance'">Loading insurance..</app-insurance>
  <app-sodexo *ngIf="manage == 'Sodexo'">Loading sodexo..</app-sodexo>
  <app-savings *ngIf="manage == 'Savings'">Loading savings..</app-savings>
  <app-hra *ngIf="manage == 'HRA'">Loading hra..</app-hra>
  <app-preview *ngIf="manage == 'Preview'">Loading preview..</app-preview>
</div>
<div class="row">

</div>
